@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --primary-text: #ffffff;
  --secondary-text: #000000;
  --primary-background: #000000;
  --secondary-background: #ffffff;
  --shadow-solid: 5px 5px white;
  --shadow-solid-secondary: 5px 5px black;
}
body {
  color: var(--primary-text);
}
.vc-color-wrap.transparent {
  width: 100% !important ;
  height: 100% !important ;
  margin-right: 0px !important;
}

.box-button {
  @apply shadow-solid-secondary border-2 border-primary-background bg-secondary-background uppercase text-primary-background transition-all hover:bg-primary-background hover:text-secondary-background;
}
