@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --primary-text: #f3dfc1;
  --secondary-text: #1a1c1a;
  --tertiary-text: #f3cea1;

  --primary-background: #1a1c1a;
  --secondary-background: #f3dfc1;
  --tertiary-background: #f3cea1;
  --shadow-solid: 5px 5px var(--tertiary-background);
  --shadow-solid-secondary: 5px 5px var(--tertiary-background);
}
body {
  color: var(--primary-text);
  font-family: "Roboto Mono", monospace;
  background-color: var(--primary-background);
}
.vc-color-wrap.transparent {
  width: 100% !important ;
  height: 100% !important ;
  margin-right: 0px !important;
}

.box-button {
  @apply border-2 border-primary-background bg-secondary-background uppercase text-primary-background shadow-solid-secondary transition-all hover:bg-primary-background hover:text-secondary-background focus:bg-primary-background focus:text-secondary-background;
}

button.selected,
button:focus {
  @apply translate-x-1 translate-y-1 shadow-none;
}
